<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8"/>
    <title>profile</title>
    <link rel="" href=""/>
</head>
<body bgcolor="#c0c0c0">
<div class="table-wrapper">
    <table class="sticky-header sticky-column">
        <center><h1>Profile</h1></center>

            <thead>
                <h2>----------------------------------</h2>

                <h2>Name: {{ Person.name }}<br></h2>
                <br><br>
                <h2>Surname : {{ Person.surname }}<br></h2>
                <br><br>
                <h2>Age : {{ Person.age }}<br></h2>
                <br><br>
                <h2>City : {{ Person.city }}<br></h2>
                <br><br>
                <h2>Email : {{ Person.email }}<br></h2>
                <h2>==================================</h2>

                <th></th>
                <th></th>
        

        </thead>

    </table>
</div>
</form>
</body>
</html>

